.mission-section {
  background-color: #5e665e;

  .section-content {
    a {
      color: #fff;
      text-decoration: none;
      align-self: center;
    }
  }
}

@media (max-width: 768px) {
  .mission-section {
    .text-container {
      display: flex;
      flex-direction: column;
      width: 80%;

      a {
        align-self: center;
      }
    }
  }
}
