@import "@/styles/colors.scss";

.header {
  width: 100%;
  color: #fff;
  text-align: center;
  height: 100px;
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: center;
  // background colour is a gradient from dark grey to transparent
  background: linear-gradient(rgba(23, 23, 23, 1), rgba(0, 0, 0, 0));
}

.logo {
  height: 50px;
}

nav {
  width: 90%;
  height: 80%;

  //select last ul element
  ul:last-of-type {
  }

  li {
    display: inline-block;

    a {
      color: #fff;
    }
  }

  .button {
    padding: 05px 10px !important;
  }
}

nav ol:last-of-type,
nav ul:last-of-type {
  margin-right: 0;
}
