@import "@/styles/colors.scss";

.header {
  width: 100%;
  color: #fff;
  text-align: center;
  height: 150px;
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: center;
  // background colour is a gradient from dark grey to transparent
  background: linear-gradient(rgb(15, 12, 16), rgba(0, 0, 0, 0));
}

.logo {
  height: 50px;
}

nav {
  width: 95%;
  height: 50%;
  // text-transform: uppercase;

  //select last ul element
  ul:last-of-type {
  }

  li {
    display: inline-block;

    a {
      color: #fff;
      padding: 10px 20px;
    }
  }

  .button {
    padding: 05px 10px !important;
  }
}

nav ol:last-of-type,
nav ul:last-of-type {
  margin-right: 0;
}
