.footer {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
  background-color: #1e1920;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  nav {
    justify-content: space-around;
  }

  p {
    font-size: 0.75rem;
  }
}
