.footer {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
  background-color: #181e18;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  nav {
    justify-content: space-around;
  }

  p {
    font-size: 0.75rem;
  }

  a {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .footer {
    nav {
      ul {
        display: flex;
        flex-direction: column;

        li {
          padding: 5px;
        }
      }
    }

    p {
      font-size: 0.5rem;
    }
  }
}
