// Layout styles

.page {
  min-height: 130vh;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 130vh;
  height: fit-content;

  &-background {
    height: 130vh;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-size: cover;
  }

  &-body {
    // position: absolute;
    // z-index: 2;
    // width: 100%;
    height: fit-content;
  }

  &-content {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--divided {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

// Text styles
.text-center {
  text-align: center;
  margin-bottom: 40px;
}
