// Layout styles

.page {
  min-height: 130vh;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 130vh;
  height: fit-content;

  &-background {
    height: 130vh;
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  &-body {
    height: fit-content;
  }

  &-content {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--divided {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

// Text styles
.text-center {
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .page {
    min-height: 100vh;
  }

  .section {
    &-background {
      height: 100vh;
    }

    .section-content {
      width: 100%;
      padding: 20px;
      min-height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;

      h1,
      h2 {
        text-align: center;
      }
    }
  }

  .text-center {
    margin-bottom: 20px;
  }
}
