body {
  background-color: #3a383c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
}

a,
p,
span,
summary {
  font-family: "Mona Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a {
  &:hover {
    text-decoration-color: #c9b16a;
  }
}

button {
  background-color: #c9b16a;
  padding: 10px 30px;
  border-radius: 2px;
  border: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  // animate background color
  transition: background-color 0.5s;

  a {
    color: #fff;
    text-decoration: none;
  }

  &:hover {
    background-color: #e9c44a;
  }
}

.button {
  font-family: "Major Mono Display", serif;
  pointer-events: auto;
  cursor: pointer;
  background: #c9b16a;
  border: none;
  padding: 0.5rem 1rem;
  margin: 50px 0 0 0;
  font-family: inherit;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--bestia {
  font-size: 0.75rem;
  color: #fff;
  background: none;
  padding: 0;
}

.button--bestia .button__bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #c9b16a;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--bestia:hover .button__bg {
  transform: scale3d(1.2, 1.2, 1);
}

.button--bestia .button__bg::before,
.button--bestia .button__bg::after {
  content: "";
  position: absolute;
  background: #232b23;
}

.button--bestia .button__bg::before {
  width: 110%;
  height: 0;
  padding-bottom: 110%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
}

.button--bestia:hover .button__bg::before {
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}

.button--bestia .button__bg::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.button--bestia:hover .button__bg::after {
  opacity: 1;
  transition-duration: 0.01s;
  transition-delay: 0.3s;
}

.button--bestia span {
  display: block;
  position: relative;
  padding: 0.5rem 1rem;
  mix-blend-mode: difference;
  color: #fff;
}

article {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #626662;

  span {
    line-height: 3;
  }
}

details {
  summary.secondary {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
  }

  //animate open summary

  .button-row {
    width: 100%;
    display: flex;
    margin: 20px 0;
    justify-content: flex-end;
  }
}
