@import "@/styles/colors.scss";

.home-section,
.about-section,
.services-section {
  margin: 0;
}

.home-section {
  background-color: $space-cadet;
}

.about-section {
  background-color: $ultra-violet;
}

.services-section {
  background-color: $rose-quartz;
}
