@import "@/styles/colors.scss";

.home-section,
.about-section,
.services-section {
  margin: 0;
}

.home-section {
  background-color: #1d211d;
  display: flex;

  .section-content {
    .section-header {
      padding: 40px;
      background-color: #1d211d;
      width: 60%;
      height: fit-content;
      border: 1px solid #dcc063;

      h1 {
        font-size: 3.5rem;
        width: 100%;

        #first-word {
          color: #dcc063;
        }

        #second-word {
          color: #ebbc98;
        }

        #third-word {
          color: #e1a646;
        }
      }

      h2 {
        font-size: 1rem;
        margin: 50px 0px;
      }
    }

    button {
      margin-top: 0;
      align-self: flex-start;
    }
  }

  .section-background {
    height: 130vh;
    overflow: hidden;

    &-image {
      // rotate background image slowly
      animation: rotateBackground 240s linear infinite;
      background-repeat: repeat;
      background-position: center;
      height: 200%;
      width: 200%;
      position: relative;
      left: -50%;
      top: -50%;

      @keyframes rotateBackground {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .section-background-overlay {
    height: 130vh;
    position: absolute;
    z-index: 0;
    width: 100%;
    background-repeat: repeat;
    background-color: #1d211d;
    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
  }

  .section-body {
    z-index: 2;
    width: 100%;
    height: 130vh;
  }
}

.about-section {
  background-color: #b5b8b5;

  .section-body {
    display: flex;
    flex-direction: column;

    .section-content {
      .title-container {
        width: 30%;
      }
      .text-container {
        width: 70%;
      }
    }

    a {
      align-self: center;
    }
  }
}

.services-section {
  background-color: #626662;

  .section-background {
    height: 130vh;
    overflow: hidden;
    z-index: 0;

    &-image {
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
      position: relative;
      top: -58.5%;
      left: -10%;
    }
  }

  .section-background-overlay {
    height: 130vh;
    position: absolute;
    z-index: 0;
    width: 100%;
    background-repeat: repeat;
    background-color: #626662;
    // background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
  }

  .section-content {
    a {
      align-self: center;
    }

    .services-list {
      margin-top: 20px;

      .service-description {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        // animate height on hover
        height: 50px;
        transition: height 0.5s;

        &:hover {
          height: 200px;

          p {
            height: 100%;
            opacity: 1;
          }
        }

        span {
          font-weight: 400;
        }

        p {
          height: 0px;
          opacity: 0;
          overflow: hidden;
          text-align: left;
          //animate height, then opacity
          transition: height 0.5s, opacity 0.5s;
        }
      }
    }
  }
}

//mobile media queries
@media (max-width: 768px) {
  .home-section {
    .section-content {
      .section-header {
        width: 100%;
        padding: 20px;

        h1 {
          text-align: left;
          font-size: 2.5rem;
        }

        h2 {
          text-align: left;
          font-size: 1.5rem;
        }
      }
    }
  }

  .about-section {
    .section-body {
      .section-content {
        .title-container {
          width: 80%;
        }
        .text-container {
          width: 80%;
        }
      }
    }
  }
}
